
@using SIGECA.Entities;
@model IEnumerable<Venta>
@{
    ViewData["Title"] = "Gestionar Pago";
}

<h1 class="mt-3" style="color:white">COBRO DE VENTAS</h1>
<div class="row">
    <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="border-radius:10px">
                <p style="color:black;">Lista general de ventas</p>
            </ol>
        </nav>
    </div>
</div>
    <!--   <p style="color:black;">Existen ModelCount() ventas registradas</p> -->

    <div class="container-fluid" id="tabla_Form">

        <table id="tablaVentaPorCódigo" class="table datatable-ventas" style="background-color:white">
            <thead class="thead-light">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.codigoVenta)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.fechaVenta)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.total)</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>

            <tbody>
                @if (Model != null)
                {
                    @foreach (var venta in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => venta.codigoVenta)</td>
                            <td>@Html.DisplayFor(modelItem => venta.fechaVenta)</td>
                            <td>S/.@Html.DisplayFor(modelItem => venta.total)</td>
                            <td>
                                <button class="btn"><img class="fas fa-eye" /></button>
                                <button class="btn"><img class="fas fa-edit" /></button>
                                <button class="btn"><img class="fas fa-ban" /></button>
                                <button class="btn badge-success" id="btnRegistrarPago" onclick="" data-bs-toggle="modal" data-bs-target="#modalPagoVenta"> Registrar Cobro</button>
                            </td>
                        </tr>

                    }
                }

            </tbody>
        </table>


    </div>




    <input type="hidden" id="URL_ObtenerVentaPorCodigoVenta" value="@Url.Action("ObtenerVentaPorCodigoVenta", "Pago")" />
    <input type="hidden" id="URL_VentaListar" value="@Url.Action("obtenerAllVentas", "Pago")" />

    <script src="~/js/Pago/PagoShow.js"></script>



    <div class="modal" id="modalPagoVenta" tabindex="-1" aria-labelledby="registrarProductoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="consultarProveedorLabel">Detalle de Venta</h5>
                </div>
                <div class="modal-body" id="imp1">
                    <form>
                        <div class="row" style="padding: 5px 5%">

                            <input type="hidden" id="idCodigoVenta" name="id" />


                            <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
                                <label for="nombreEmpresa" class="form-label">Código de Venta:</label>
                                <input class="form-control"
                                       id="txtCodVenta"
                                       name="CodVenta"
                                       disabled
                                       style="border-top-style:none ;
                                       border-left-style:none;
                                       border-right-style:none;
                                       border-right-style: none;
                                       border-bottom-style:none">
                            </div>
                            <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
                                <label for="ruc" class="form-label">Fecha:</label>

                                <input class="form-control"
                                       id="txtFecha"
                                       name="fecha"
                                       disabled
                                       style="border-top-style:none ;
                                       border-left-style:none;
                                       border-right-style:none;
                                       border-right-style: none;
                                       border-bottom-style:none">
                            </div>
                        </div>
                        <div class="row" style="padding: 5px 5%">
                            <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
                                <label for="direccionEmpresa" class="form-label">Productos:</label>

                                <textarea class="form-control"
                                          id="txaProductos"
                                          name="items"
                                          rows="6"
                                          disabled
                                          style="border-top-style:none ;
                                          border-left-style:none;
                                          border-right-style:none;
                                          border-right-style: none;
                                          border-bottom-style:none">

                                </textarea>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px 5%">
                            <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
                                <label for="nombreContacto" class="form-label">Total:</label>
                                <input class="form-control"
                                       id="txtTotal"
                                       name="total"
                                       disabled style="border-top-style:none ;
                                       border-left-style:none;
                                       border-right-style:none;
                                       border-right-style: none;
                                       border-bottom-style:none">
                            </div>


                            <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
                                <label for="estado" class="form-label">Estado:</label>
                                <input class="form-control"
                                       id="txtEstado"
                                       name="nameEstado"
                                       disabled
                                       style="border-top-style:none ;
                                       border-left-style:none;
                                       border-right-style:none;
                                       border-right-style: none;
                                       border-bottom-style:none">
                            </div>



                            <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
                                <h5> <label for="Efectivo" class="form-label">Efectivo:</label></h5>
                                <input class="form-control"
                                       id="txtEfectivo"
                                       style="border-top-style:none ;
                                       border-left-style:none;
                                       border-right-style:none;
                                       border-right-style: none;
                                       border-bottom-style:none">
                            </div>

                            <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
                                <h5><label for="Vuelto" class="form-label">Vuelto: </label></h5>
                                <input class="form-control"
                                       id="txtVuelto"
                                       readonly="readonly"
                                       style="border-top-style:none ;
                                       border-left-style:none;
                                       border-right-style:none;
                                       border-right-style: none;
                                       border-bottom-style:none">
                            </div>


                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnPrint" type="button" class="btn btn-primary" onclick="imprim(imp1)">Imprimir</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>

    </div>






